/* body color #f5f0ea */
/* font-family: 'Cabin', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #34352a;
}
button{
    color: rgb(18, 18, 18);
    background-color: brown;
    border: none;
    padding: 1.3rem 3rem;
    border-radius: 2rem;
    font-family: 'Cabin', sans-serif;
    margin-top: 1.5rem ;
    cursor: pointer;
    font-size: 1rem;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: brown;
    transition: 0.3s;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
section{
    width: 80%;
    margin: auto;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
}

#logo{
    flex: 1;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
    color: rgb(11, 11, 11);
}
.header-nav ul{
    flex: 0.5;
    display: flex;
    justify-content: space-between;
}
.header-nav ul li{
    list-style: none;
}
.header-nav ul li a{
    font-weight: bold;
    color: rgb(197, 44, 83);}
#home-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.home-nav{
    display: flex;
    justify-content: space-between;
height: 90vh;
    align-items: center;
}
.home-left{
    width: 50%;
}
.home-left h2{
    color: white;
    letter-spacing: 2px;
}
.home-left h3{
    color: white;
    letter-spacing: 2px;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    margin-top: 2rem ;
}
.home-left p{
    color: white;
    letter-spacing: 2px;
    margin-top: 2rem ;
    font-size: 1.5rem;
    font-weight: bold;
}

.home-left button{
    color: white;
    background-color: rgb(20, 231, 9);
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-family: 'Cabin', sans-serif;
    margin-top: 1rem ;
    cursor: pointer;
    font-size: 1rem;
}
.home-left button:hover{
    background-color: rgb(16, 16, 16);
    color: brown;
    transition: 0.3s;
}
.nav-item{
    color: rgb(52, 126, 190);
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
     z-index: 5;
     font-family: 'DM Sans' sans-serif;
     font-weight: 900;
     position: relative;}
       
     &:before{
        content:"";
        position: absolute;
        bottom:-6px;
        left: 0;
        width:150%;
        height: 5px;

    }
 .img-tr{

    margin: 0;
    
    height: 100vh;
    
    display: grid;
    place-items: center;
     background-color: #f5e9e9;
     
}
    .img-container{
    
    display: flex;
    
    }
    
    .img-container img { width: 150px;
    margin-top: 1rem;
    height: 150px;
    
    border-radius: 25px;
    
    cursor: pointer;
    width: 50px; transition: all 0.3s;
    }
    
    .img-container img:not(:last-child) 
    { margin-right: 10px;}
    
    .img-container:hover > :not(:hover) {
    
    opacity: 0.2;
    }
    
    #title-section{
        color: rgb(40, 214, 46);
        letter-spacing: 2px;
        font-weight: bold;
        font-family: 'cabin' ,sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
    #sub-title-section{
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        font-weight: bold;
        font-family: 'cabin' ,sans-serif;
        font-size: 4rem;
        margin-top: 2rem;
        text-align: center;


    }

    #main{
        text-align: center;
    }
    .sermons{
        margin-top: 1rem;
       display: flex;
       
    }
    .card-sermons{
        width:290%;
        height:20rem;
        transform: scale(1.1);
        text-align: center;
        
    }
    .card-sermons img{
        height: 10rem;
        width: 10rem;
        border-radius: 1rem;
        
       
    }
    .sermons{
        margin-top: 1rem;
       display: flex;
       
    }
    .carrd-sermons{
        width:90%;
        height:20rem;
        transform: scale(1.1);
        text-align: center;
        
    }
    .carrd-sermons img{
        height: 10rem;
        width: 10rem;
        border-radius: 2rem;
        
       
    }
    .menu_Now{
        text-align: center;
    }